<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Dog myPet = new Dog(); -->
    <bean id="myPet"
          class="spring_introduction.Dog"
          scope="singleton">  <!-- scope single, only one object can be created -->
    </bean>

    <!--- Cat myPet2 = new Cat(); -->
    <bean id="myPet2"
          class="spring_introduction.Cat"
          scope="prototype"> <!-- scope prototype, bean will only be created by getBean() -->

    <!-- init-method destroy method -->
    </bean>
    <bean id="myPet3"
          class="spring_introduction.Mouse"
          init-method="init"
          destroy-method="destroy"
    scope="prototype">

    </bean>


</beans>







